autoflake8==0.4.0
black==23.7.0
corus==0.9.0
dvc[s3]==3.9.1
flake8==6.0.0
humanfriendly==10.0
iterative-stratification==0.1.7
mypy-extensions==1.0.0
mypy==1.4.1
numpy==1.23.3
pandas==1.5.0
pre-commit==3.3.3
pylint-pytest==1.1.2
pylint==2.17.5
pysimdjson==5.0.2
pytest==7.4.0
pyupgrade==3.9.0
razdel==0.5.0
scikit-learn==1.2.2
tqdm==4.64.1
unify==0.5
